body{
    font-family: Consolas;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    padding: 100px 100px 100px 100px;
}
#navigation a   {
                color: #ff0099;
                font-size: 18px;
                text-transform: uppercase;
                background-color: #333333;
                
                }

#intro h1   {
            font-size: 38px;
            
            
            
                
            }

#intro h2   {
            font-size: 32px;
            color: #ff0099;    
            }

p   {
    font-size:18px;
    }

#definitions h3 {
                font-size: 32px;
                text-align: center;
                line-height: 2;
                font-weight: bold;
                }
#definitions dt {
                font-size: 22px;
                line-height: 2;
                font-weight: bold;
                }
                
#definitions dd {
    font-size: 15px;
    line-height: 2;
    }